body { 
    margin: 0;
    font-style: normal;
    font-family: "Montserrat", sans-serif;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-color: #f8f5e0;
}

h1 {
    font-size: 48px;
  }
  
  h2 {
    font-size: 32px; 
  }
  
  h3 {
    font-size: 28px; 
  }
  
  h4 {
    font-size: 24px; 
  }

/**************header*************/
.top-header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 0;
    background-color: #f8f5e0;
    position: fixed;
    top: 0; 
    left: 0;
    z-index: 3; 

}
.nav ul {
    display: flex;
    list-style-type: none;
    font-size: 14px;
    margin: 0 50px;
}

.nav li {
    padding: 0 10px;
}

.nav a {
    text-decoration: none;
    color: #000000;
}

/************animation*********/
.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 60px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    z-index: 1;
    transition: padding 0.3s, gap 0.3s;
}

.banner-shrink .logo {
    height: 100px; 
    width: auto;
}


.banner-shrink .typewriter p {
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 22px; 
}

.logo {
    width: 100px; 
}

.typewriter-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.typewriter p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 45px;
    color: #A60C0C ;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    animation: typing 3.5s steps(24);
}
.typewriter p::after {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 1px;
    background: #dadada;
    right: 0;
    top: 0;
    animation: cursor 1s infinite;
}

@keyframes typing {
    from {width:0}
    to {width: 100%;}
}

@keyframes cursor {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/***********besoin*************/
.title-need {
    text-align: center;
    margin: 250px 0 0 0;
}

.need {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
    font-family: "Walter turncoat";
    font-weight: 400;
    font-style: normal;
    color: #A60C0C;
}

.bubble-need { 
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 150px; 
    height: 150px;
    position: relative;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    transition: transform 0.5s ease;
}

.bubble-need::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: transform 0.5s ease;
}

.bubble-need:hover {
    transform: scale(1.2);
}

.bubble-need:hover::after {
    width: 200%;
    height: 200%;
    opacity: 0;
}

@keyframes bubble {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100px);
        opacity: 0;
    }
}

.small-bubble {
    position: absolute;
    width: 10px;
    height: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    animation: bubble 2s infinite;
}

/*********présentation**********/
.hang {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 50px;
    text-indent : 5px;
}
/************carrousel**********/
.carousel {
    position: relative;
    width: 80%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
    width: 100%;
    border-radius: 10px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/***********Prestation********/
#presta {
    display: flex;
    justify-content: center;
}
.domain {
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

.bloc_domain {
    min-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #A60C0C;
    color: #f8f5e0;
    padding: 30px 20px 20px 20px;
    border-radius: 2%;
}

.icone-cat {
 font-size: 100px;
}

.categorie {
    display: none;
}

.categorie.active {
    display: block;
    justify-content: center;
}

.chevron-down {
    font-size: 30px;
}
.chevron-down.rotate {
    font-size: 50px;
    transform: rotate(180deg);
    transition: transform 0.3s;
}

/********cadre objectifs**********/
.info-presta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.objectifs {
    display: flex;
    flex-direction: column;
    flex-wrap : wrap;
    border: 3px solid black;
    max-width:  200px;
    background-color: white;
}

.img-obj {
    width: 200px;
    height: auto;
    margin: 0;
}
.title-obj  {
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #000000;
    padding: 10px;
    margin: 0;
    font-family: "Walter turncoat";
}

.text-obj {
    text-indent: 20px;
}

.title-dancing { 
    font-family: "dancing script";
    font-weight: 800;
    font-style: normal;
  }

/*********dev************/
.devweb {
    background:#f8f5e0;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px 180px;
}

.projet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin: 70px;
}

.etape {
    width: 35px;
    height: 35px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    border-radius: 50%;
    color: white;
    background-color: #A60C0C;
}

.etape p {
    font-size: 12px;
}
.circle-white-dashed {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: transparent;
    border: 2px dashed #A60C0C;
    width: 8em;
    height: 8em;
    top: -8px; 
}

/**********design************/
.design {
    background:#f8f5e0;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px 180px;
}

/**************photo************/
.photo {
    background:#f8f5e0;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px 180px;
}


/***********portrait************/
#about {
    margin: 50px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	position: relative;
    padding: 25px; 
    
}

.about-me {
    display: flex;
    flex-direction: row;
    flex: 2;
}

.portrait{
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
    border-radius: 15%;
    padding: 20px;
} 
.about-me__introduction {
    width: 70%;
    text-indent: 20px;
}

.title-dancing { 
    font-family: "dancing script", cursive;
    font-weight: 800;
    font-style: normal;
  }

/*************avion***************/
.paper-plane {
    position: absolute; 
    width: 100px;
    height: 100px; 
    background-image: url('images/avion-papier.png');
    background-size: cover;
    background-position: center;
    top: 10px;
    right: 10px;
    z-index: 10;
    animation: flyDiagonal 7s ease-in-out;
}

@keyframes flyDiagonal {
    0% {
        transform: translate(-2000px, 50vh); 
    }
    100% {
        transform: translate(100vw, -50px);
    }
}

/**************compétences***************/
.work {
    position: relative;
    padding: 20px;
    background-color: #A60C0C;
    color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: auto;
    margin: 0 60px;
    display: flex;
    flex-direction: row;
}

.software {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 10px 25px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.skill {
    display: flex; 
    flex-direction: column;
    line-height: 2%;
}

.bar {
    width: 100%;
    height: 10px;
    background: #f8f5e0;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}

.level {
    height: 100%;
    background-color: #7D5CED;
    width: 0%; 
    transition: width 2s ease;
}

@keyframes fillBar {
    from {
        width: 0%;
    }
    to {
        width: var(--final-width);
    }
}

.réalisations {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
    margin: 0 10px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 20px;
}

.gallery-item {
    width: 350px;
    height: 200px;
    padding: 10px 10px 60px 10px; /* Correction : enlever le 's' après '10px' */
    background: white; 
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    position: relative; 
    overflow: hidden; /* Assurez-vous que l'image ne dépasse pas */
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
    display: block;
    border-radius: 3px;
}


.description {
    text-align: center;
    margin-top: 8px;
    font-size: 0.9em;
    color: #333; 
}

.description a {
    color: #007bff;
    text-decoration: none;
}

.description a:hover {
    text-decoration: underline; 
}
 /************modale************/
 #modal {
    display: none; 
}

.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh; 
    background-color: rgba(0, 0, 0, 0.8); 
}

.modal-content {
    display: inline-flex; 
    margin: 50px;
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px 50px 20px 50px; 
    position: relative;
}


.modal-media {
    max-width: 100%; 
    max-height: 80vh; 
    object-fit: contain; 
    margin: auto;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal-navigation .prev,
.modal-navigation .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    width: auto;
    padding: 10px;
    color: black; 
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    user-select: none;
}

.modal-navigation .prev {
    left: 10px; 
}

.modal-navigation .next {
    right: 10px; 
}

 /***********formulaire**********/
#contact {
    background-color:#f8f5e0;
    padding: 20px 0;
}

.form-container { 
    display: flex; 
    flex-direction: row;
    max-width: 70%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
}

.form-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 20px;
    box-sizing: border-box;
}

@keyframes appearFromLeft {
    0% {
      transform: translateX(-300%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

#rocket {
    width: 150px;
}


label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    display: flex;
    justify-content: center;
    background-color:#A60C0C;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover { 
    background-color: #f8f5e0;
}

.copyright {
    text-align: center;
    margin-top: 20px;
}
/*********responsive***********/
@media all and (max-width: 1180px) {

}